:root {
    --green-blue: #B5D8D6;
    --light-greenblue: #cde6e4;
    --cream:  #fbf9f4;
    --lightergreen:  #f7f9f6;
    --pink: #F6E7E0;
}
html * {
    font-family: 'Raleway', sans-serif;
    color: hsl(144, 20%, 26%);
}

p {
    margin-bottom: 2px !important;
}

header {
    background-color: var(--green-blue);
}

header span {
    font-weight: 200;
}

main {
    padding: 25px 50px;
    margin: auto;
    box-sizing: border-box;
    max-width: 1446px;
}

input#search-value {
    background-color: var(--light-greenblue);
    border-radius: 25px;
}

.good-uvi {
    background-color: #5cb85c;
    padding: 3px 8px;
    border-radius: 5px;
}

.okay-uvi {
    background-color: #f0ad4e;
    padding: 3px 8px;
    border-radius: 5px;
}

.bad-uvi {
    background-color: #d9534f;
    padding: 3px 8px;
    border-radius: 5px;
}

#forecast-day {
    margin-left: 1.75rem;
}
#forecast-header {
    background-color: var(--pink);
}

#daily-temp {
    padding: 0;
    background-color: hsla(0, 2%, 83%, 0.774);
}

li:hover {
    cursor: pointer;
}

.card {
    padding: 0px !important;
    margin-top: 1rem;
    background-color: var(--cream);
}

.card-body {
    padding-top: .5rem;
}

.btn {
    border-radius: 3px;
}

.card li{
    background-color: var(--cream);
}

#current-header.card-header {
    background-color: var(--green-blue);
}

form.card-header {
    background-color: var(--green-blue);
}

.card-like {
    background-color: var(--lightergreen);
}

#todayANDcurrent {
    border-radius: 5px;
    padding-bottom: 1.25em;
    margin-bottom: 1rem;
}
