:root {
    --primary: #8AA1B1;
    --primary_light: #d1dae0;
    --input_primary: #e0e7eb;
    --secondary: #FAB89E;
    --dark: #7e7d8c;
    --darker: #534D56;
    --light: #fef8f5;
    --highlight: #ec6e4c;
}
html * {
    font-family: 'Raleway', sans-serif;
}

p {
    margin-bottom: 2px !important;
}

header {
    box-shadow: 0px -2px 10px black;
}

header span {
    font-weight: 200;
}

main {
    padding: 25px 50px;
    margin: auto;
    box-sizing: border-box;
    max-width: 1446px;
}

aside.card {
    margin-top: 0;
}

input#search-value {
    background-color: var(--input_primary);
    border-radius: 25px;
}

form button {
    background: transparent;
    border: 1px transparent;
} form button:focus {
    outline: none;
    outline-style: none;
}

.good-uvi {
    background-color: #5cb85c;
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -10px black;

}

.okay-uvi {
    background-color: #f0ad4e;
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -10px black;

}

.bad-uvi {
    background-color: var(--highlight);
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -10px black;

}

#forecast-day {
    margin-left: 1.5em;
}
#forecast-header {
    background-color: var(--primary);
}

#daily-temp {
    padding: 0;
    background-color: hsla(0, 2%, 83%, 0.774);
}

.card {
    padding: 0px !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--light);
    box-shadow: 0px 0px 20px -10px black;
    border: none;
}

.card-title {
    margin: .75rem;
}

.card-body {
    padding-top: .5rem;
}

.btn {
    border-radius: 3px;
}

.card li{
    background-color: var(--light);
}
.card li:hover {
    cursor: pointer;
    background-color: var(--highlight);
}

#current-header.card-header {
    background-color: var(--primary);
}

#todays-weather, #current-weather {
    border-radius: 15px !important;
}

form.card-header {
    background-color: var(--primary_light);
}

.card-like {
    background-color: var(--primary_light);
}

#rightnowtoday {
    border-radius: 5px;
    padding-bottom: 1.25em;
    margin-bottom: 1rem;
}

.bg-dark {
    background-color: var(--darker) !important;
}
.bg-light {
    background-color: var(--light) !important;
}

.font-20 {
    font-size: 20pt;
}
.font-30 {
    font-size: 30pt;
}
.font-40 {
    font-size: 40pt;
}