html * {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-bottom: 2px !important;
}

header {
    background-color: hsla(0, 0%, 100%, .85);
}

header span {
    font-weight: 200;
}

main {
    padding: 25px 50px;
    margin: auto;
    box-sizing: border-box;
}

.good-uvi {
    background-color: #5cb85c;
    padding: 3px 8px;
    border-radius: 5px;
}

.okay-uvi {
    background-color: #f0ad4e;
    padding: 3px 8px;
    border-radius: 5px;
}

.bad-uvi {
    background-color: #d9534f;
    padding: 3px 8px;
    border-radius: 5px;
}

.high {
    margin-bottom: 0;
}
.low {
    margin-top: 0;
}

#forecast-div {
    margin-top: 15px;
}

#forecast-day {
    border-radius: 15px;
    margin-left: 1.35rem;
}

#daily-temp {
    padding: 0;
    background-color: hsla(0, 2%, 83%, 0.774);
}

li:hover {
    cursor: pointer;
}

.card-body {
    padding: 5px 2px !important;
}

.card {
    padding: 0px !important;
}

#current-card {
    border-radius: 15px;
    padding: 1.25rem !important;
}
